<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns ="http://www.springframework.org/schema/beans" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context" 
 xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                     http://www.springframework.org/schema/context 
                      http://www.springframework.org/schema/context/spring-context-4.0.xsd">


 <context:component-scan base-package="com.bhagwat.Fristapp"></context:component-scan>
    <!-- Define the Car bean -->
  <!--  <bean id="Vehicle1" class="com.bhagwat.Fristapp.Car" />
     <bean id="Vehicle2" class="com.bhagwat.Fristapp.Bike" /> -->
     
     <bean id="tyre" class="com.bhagwat.Fristapp.Tyre">
		 <constructor-arg value="MRF"></constructor-arg>
	 </bean>
     

</beans>
